<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path" th:content="@{/}"/>
    <!--  Common header -->
    <th:block th:include="fragments/include-link"></th:block>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <nav th:replace="fragments/sidebar"></nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <h1 id="title" class="mt-4">ERROR</h1>
        </div>

        <footer th:replace="fragments/footer"></footer>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<th:block th:include="fragments/include-script"></th:block>
</body>
</html>