<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--  Common header -->
    <th:block th:include="fragments/include-link"></th:block>
</head>
<body>
<div class="wrapper">
    <!-- Side Bar -->
    <div id="content">
        <!-- Page Header -->
        <header th:replace="fragments/header"></header>
        <h1>Login page</h1>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Username</label>:
                <input type="text"
                       id="username"
                       name="username"
                       class="form-control"
                       autofocus="autofocus"
                       placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>:
                <input type="password"
                       id="password"
                       name="password"
                       class="form-control"
                       placeholder="Password">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="login-submit"
                               id="login-submit"
                               class="form-control btn btn-info"
                               value="LogIn">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<th:block th:include="fragments/include-script"></th:block>
</body>
</html>